body {
  background-color: #faf5ff;
  font-family: sans-serif;
  padding: 40px;
}

h1 {
  color: #4b0082;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Agbalumo', sans-serif;
}

/* FORM CONTAINER */
.form-container {
  width: 70%;
  margin: 30px auto;
  background: white;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form-container h3 {
  color: #4b0082;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Agbalumo', sans-serif;
}

/* TABLE FORM */
form table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

form th {
  background-color: #4b0082;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 16px;
}

form td {
  padding: 14px 18px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

form tr:hover {
  background-color: #f4e6ff;
}

/* INPUT & SELECT */
form input,
form select {
  width: 95%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

form input:hover,
form select:hover {
  border-color: #7b3fa1;
}

/* RADIO BUTTON GROUP */
.radio-group {
  display: flex;
  gap: 25px;
  margin-top: 8px;
}

.radio-group label {
  font-weight: normal;
  color: #555;
}

/* BUTTON */
.btn-submit {
  background-color: #4b0082;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: backgroun 0.3s ease;
}

.btn-submit:hover {
  background-color: #6a0dad;
}

/* LINK */
.back-link {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #4b0082;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}