*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   width: 100%;
    height: 100vh;
    background-color: rgb(99, 8, 8);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: scroll;
}

.section-title {
  width: 100%;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  color: #4b0082;
  margin: 40px 30px 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    margin-top:20px;
}

.card{
    width: 280px;
    background: linear-gradient(160deg, #d8b4fe, #f9a8d4);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    margin: 20px;
    transition: transform 0.3s ease ;
}

.card:hover{
    transform: translateY(-20px) ;
}

.card img{
    width: 90%;
    height: auto;
    object-fit: contain;
    object-fit: contain;
}

.card-content{
    padding: 16px;
}

.card-content h3{
text-align: left;
font-size: 28px;
margin-bottom: 8px;
color: #333;
min-height: 45px;
}

.card-content p{
   color: #666;
   font-size: 15px;
    line-height: 2;
}

.card-content .btn{
   display: inline-block;
   padding: 8px 16px;
   background-color: #333;
   text-decoration: none;
   border-radius: 20px;
   margin-top: 10px;
   color: #fff;
   font-size: 15px;
}

.card-content .btn:hover {
  background-color: #555;
}

button{
   width: 1000px;
    padding: 15px;
    text-align: center;
    margin: 150px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color:white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

